[submodule "src/server/lib/socket.io-node"]
	path = src/server/lib/socket.io-node
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "src/client/lib/socket.io"]
	path = src/client/lib/socket.io
	url = http://github.com/LearnBoost/Socket.IO.git
