body{
    background-color: #335066;
    font-family: Helvetica, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

#login {
    background-color: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

label {
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #337777;
    color: white;
    display: block;
}

#login button {
    width: 90%;
    margin: 20px auto;
}

#login_form {
    position:absolute;
    width: 350px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#chat_form {
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0;
    padding: 0;
    background-color: white;
}

#chat_form button{
    display: inline;
    position: absolute;
    right: 0px;
    width: 150px;
    height: 100%;
    padding: 0;
    
}

#chat_content {
    bottom: 45px;
    top: 0px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
}

#chat_form input {
    width: 90%;
    height: 90%;
    border: none;
    left: 0px;
    position: absolute;
    padding: 0 10px;
    background-color: #fff;
}